* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f5f5f5;
}

p {
  font-size: 20px;
}

.header,
.footer {
  position: fixed;
  margin: auto;
  height: 56px;
  width: 100%;
  box-sizing: border-box;
  background-color: #4caf50;
  z-index: 100;
}

.header {
  top: 0;
}

.logo {
  float: left;
  height: 56px;
  width: 56px;
  display: inline-block;
  background-color: green;
  border-radius: 100%;
}

#title-text {
  float: left;
  margin-left: 20px;
  display: inline-block;
  line-height: 56px;
  vertical-align: center;
  font-size: 24px;
  color: rgba(255, 255, 255, 0.87);
}

.welcome-banner {
  margin-top: 56px;
  margin-bottom: 0;
  height: 134px;
  width: 100%;
  line-height: 134px;
  vertical-align: center;
  font-size: 36px;
}

.address-card {
  float: right;
  height: 300px;
  width: calc(100% - 425px);
  margin-bottom: 20px;
  border-radius: 3px;
  box-sizing: border-box;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.87);
}

.course-card {
  position: relative;
  margin-right: 25px;
  margin-bottom: 20px;
  height: 300px;
  width: 400px;
  display: inline-block;
  border-radius: 3px;
  box-sizing: border-box;
  overflow: hidden;
  cursor: pointer;
}

.card-image {
  float: left;
  height: inherit;
  z-index: 1;
}

.card-info {
  position: absolute;
  z-index: 2;
  padding: 5px 10px;
  height: 56px;
  width: 100%;
  box-sizing: border-box;
  background: rgba(245, 245, 245, 0.8);
}

.detail-card {
  margin-bottom: 20px;
  padding: 1.5rem 2rem 3rem;
  height: auto;
  width: 100%;
  display: inline-block;
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.8);
  box-sizing: border-box;
}

.highlight-banner {
  height: 56px;
  width: 100%;
}

.highlight-title {
  margin-left: calc((100% - 600px - 0.5rem) / 4);
  width: 200px;
  display: inline-block;
  line-height: 56px;
  text-align: center;
}

.highlight {
  float: left;
  margin-top: 1rem;
  margin-left: calc((100% - 600px) / 4);
  height: 200px;
  width: 200px;
  background-color: #80e27e;
  border-radius: 100%;
  color: rgba(0, 0, 0, 0.6);
  font-size: 60px;
  line-height: 200px;
  text-align: center;
}

.hidden {
  display: none;
}

.center-text {
  text-align: center;
}

.home-button {
  position: fixed;
  top: 2%;
  right: 5%;
  z-index: 101;
}

.start-button {
  margin-left: calc((100% - 100px) / 2);
}

.scorecard-button {
  margin-top: 40px;
  margin-left: calc((100% - 100px) / 2);
}

.button {
  height: 100px;
  width: 100px;
  cursor: pointer;
  border-radius: 100%;
  background-color: #6a1b9a;
  border: none;
  color: rgba(255, 255, 255, 0.87);
  font-size: 20px;
}

.scorecard {
  position: relative;
  padding: 40px;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.87);
  border-radius: 3px;
  font-size: 1.2rem;
  overflow: auto;
}

.form-entry {
  width: 9%;
  padding: 0 30px 0 20px;
}

.form-left {
  padding-left: 20px;
  font-weight: bold;
}

.form-center {
  font-size: 1rem !important;
  text-align: center;
}

.form-right {
  padding-right: 20px;
  text-align: right;
  font-weight: bold;
}

.form-bottom {
  padding-top: 30px;
  border-bottom: 1px solid #d0d0d0;
}

.player-par {
  text-align: center;
}

.player-name,
.player-score,
.form-entry {
  background-color: #eee;
}

.player-name {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.player-score {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
